
{% if post.id == 1 %}
<div class="drawing" 
data-drawing="{{ post.drawing }}"
data-id="{{ post.id }}">
<a href="https://youtu.be/dQw4w9WgXcQ?si=iqyFYXu4MKDK1dFQ" target="_blank"
   rel="noopener noreferrer">
    <img class="drawing-canvas" src="{{ url_for('static', filename='monalisa1.jpeg') }}" alt="Drawing">
</a>
</div>
{% else %}
<div class="drawing" 
data-drawing="{{ post.drawing }}"
data-id="{{ post.id }}">
<a href="{{ url_for('post', id=post.id) }}">
    <canvas class="drawing-canvas"></canvas>
</a>
</div>
{% endif %}