<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% if title %}
    <title>{{ title }} - LukisGituGitu</title>
    {% else %}
    <title>Welcome to LukisGituGitu!</title>
    {% endif %}
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div id="title"><h1>LukisGituGitu</h1></div>
    <div class="content">{% block content %}{% endblock %}</div>
    <div class="navigationBar">
        <a class="navLink" href="{{ url_for('index') }}">Home</a>
        <a class="navLink" href="{{ url_for('explore') }}">Explore</a>
        {% if current_user.is_anonymous %}
        <a class="navLink" href="{{ url_for('login') }}">Login</a>
        {% else %}
        <a class="navLink" href="{{ url_for('user', username=current_user.username) }}">Profile</a>
        <a class="navLink" href="{{ url_for('logout')}}">Logout</a>
        {% endif %}
    </div>
</body>
</html>
