{% extends "base.html" %}

{% block content %}
    <h4>Logged in as - {{ current_user.username }}</h4>
    <div class="post-container">
        {% for post in posts %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
            {% include '_post.html' %}
        {% endfor %}
    </div>
        {% if prev_url %}
        <a href="{{ prev_url }}">Newer posts</a>
        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}">Older posts</a>
        {% endif %}
{% endblock %}